body {
    font-family: "Comic Neue", cursive;
}
.main {
    font-weight: bold;
}
.main__list--subtitle{
    font-size: 20px;
    padding-top: 12px;
}
.main__list ol a{
    font-weight: 400;
    text-decoration: none;
    outline: none;
}
.main__list ol a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main p {
    padding-left: 350px;
    color: red;
}